* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    color: #5B5A5A;
    position: relative;
}
.header_menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.header_menu > nav {
    width: 100%;
}
.line_for_burger {
    display: none;
}
.header_menu > nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header_input_dropdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header_menu > nav > ul > li > a {
    color: #5B5A5A;
}
.header_menu > nav > ul>li:nth-child(7) {
    display: none;
}
.header {
    padding: 71px 42px 0 55px;
    display: flex;
    justify-content: space-between;
    color: #5B5A5A;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 3;
}
.button_drop {
    background-color: rgb(255, 255, 255, 0);
    border-radius: 20px;
    border: 2px solid #202B46;
    padding: 8px 4px 10px 10px;
    height: 42px;
    color: #5B5A5A;
    cursor: pointer;
    min-width: 150px;
}
.button_drop:hover {
    text-decoration: none;
    color: #5B5A5A;
}
.header_input {
    width: 75%;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.header_input_dropdown {
    width: 100%;
}
.input-find {
    text-align: center;
    background: url(images/icon_find.png) no-repeat center; 
    background-position: 60%;
    width: 100%;
    height: 42px;
    border-radius: 20px;
    border: 1px solid #AEABAB;
}
.input-find:focus {
    background: none;
}
.header_phone>p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
.header_icons {
    margin-top: 13px;
}
.header_icons_like_list:hover, .header_icons_basket_list:hover, .header_icons_login:hover {
    cursor: pointer;
    opacity: 0.5;
}
main {
    padding: 0 55px 89px 55px;
}
.main_index {
    margin-top: 252px;
}
/*Стилі для слайдера та index.html*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0.2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
   background-color: #E31E24; 
}
.slideshow-container {
    margin-top: 60px;
    width: 85%;
    height: 580px;
    border-radius: 25px;
    background-image: url(images/index_food.png);
    background-size: cover;
    background-position: center;
    animation: animate 40s infinite;
}
.divDot {
    padding-top: 20px;
    width: 135px;
    margin: 0 auto;
}
@keyframes animate {
    25% {
        background-image: url(images/index_food2.png);
    }
    50% {
        background-image: url(images/index_food3.png);
    }
    75% {
        background-image: url(images/index_food4.png);
    }
    100% {
        background-image: url(images/index_food.png);
    }
}
/*block-3*/
.block-3 {
    margin-top: 54px;
}
.red_line_l, .red_line_r {
    width: 100%;
}
.red_line_l {
    padding-right: 50px;
}
.red_line_r {
    padding-left: 50px;
}
.red_line_sub {
    width: 100%;
    height: 38%;
    border-bottom: 2px solid #E31E24;
}
/*block-4*/
/*card*/
.block-4 {
    margin-top: 43px;
}
.block-4>.card-paraffin>a:hover {
    text-decoration: none;
}
.block-4>a:hover {
    text-decoration: none;
}
.link_in_card_parafin>a:hover {
    text-decoration: none;
}
.card-paraffin {
    max-width: 380px;
    height: 500px;
    border: 2px solid #AEABAB;
    border-radius: 20px;
    padding: 22px 20px 22px 40px;
    position: relative;
    z-index: 2;
}
.icon_dont_like_card {
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 3;
}
.icon_dont_like_card:hover {
    opacity: 0.5;
}

.icon_dont_like_card, .icon_basket_card {
    cursor: pointer;
}
.icon_basket_card:hover {
    opacity: 0.5;
}
/*footer*/
footer {
    padding-bottom: 49px;
}
footer>div>div>a>p {
    color: #202B46;
    font-size: 14px;
}
.footer-block-2 {
    margin-top: 31px;
}
footer>div>div>a:hover {
    text-decoration: none;
}
.text-right {
    color: #202B46;
}
.text-right>a {
    color: #202B46;
    display: block;
}
.burger_menu {
    display: none;
}

@media (width < 769px) {
    body.lock {
        overflow: hidden;
    }
    footer,.button_drop, .header_phone>p{
        display: none;
    }
    .header {
        padding: 29px 16px 0 16px;
    }
    body {
        position: relative;
    }
    .header_icons {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        border-top: 0.5px solid #202B46;
        justify-content: center;
        padding: 15px 0 25px 0;
    }
    .header>a>figure>img {
        width: 71px;
        position: relative;
        z-index: 3;
    }
    .header {
        border-bottom: 0.5px solid #202B46;
        position: relative;
        z-index: 2;
        background-color: #fff;
    }
    .header_input>input::placeholder {
        color: transparent;
    }
    .header_input>input:focus::placeholder {
        color: #AEABAB;
    }
    .input-find {
        border-radius: 50%;
        width: 43px;
        background-position: 50%;
        position: absolute;
        left: 90%;
    }
    .input-find:focus {
        border-radius: 25px;
        width: 125px;
        background-position: 50%;
        position: absolute;
        left: 30px;
    }
    .burger_menu {
        display: block;
        position: relative;
        width: 22.5px;
        height: 14.5px;

    }
    .burger_menu>span {
        background-color: #202B46;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6.3px;
        transition: all 0.3s ease 0s;
    }
    .burger_menu::before, .burger_menu::after {
        content: '';
        background-color: #202B46;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .line_for_burger {
        border: 1.5px solid #D9D9D9;
        border-radius: 50%;
        position: absolute;
        right: 16px;
        padding: 13.5px 10px;
    }
    .burger_menu::before {
        top: 0;
    }
    .burger_menu::after {
        bottom: 0;
    }
    .header_menu {
        width: 100%;
    }
    .header_menu>nav>ul {
        flex-direction: column;
    }
    .header_menu>nav>ul>li:nth-child(6) {
        display: none;
    }
    .header_menu>nav>ul>li:nth-child(7) {
        display: block;
    }
    .header_menu>nav>ul>li {
        margin: 0 0 20px 0;
    }
    .header_menu>nav  {
        position: fixed;
        top: 105px;
        left: -100%;
        width: 35%;
        height: 100%;
        background-color: #ffffff;
        padding: 30px 0 0 30px;
        transition: all 0.5s ease 0s;
        
    }
    .header_menu.active_burger>nav {
        left: 0;
    }
    .burger_menu.active_burger::before {
        transform: rotate(45deg);
        top: 7px;
    }
    .burger_menu.active_burger::after {
        transform: rotate(-45deg);
        bottom: 5px;
    }
    .burger_menu.active_burger>span {
        transform: scale(0);
    }
    .slideshow-container {
        width: 100%;
        height: 363px;
    }
    .slideshow-container {
        display: block;
        margin: 27px 0 0 0;
    }
    .divDot {
        display: block;
    }
    .main_index {
        padding: 0 17px;
        height: 363px;
        margin-top: 27px;
    }
    .block-3>div, .block-4>div {
        display: none;
    }
    .line_for_burger {
        display: block;
    }
    
    


    /*main {
        display: none;
    }*/



}
/*basket.html*/
.basket_under_header_line {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #202B46;
    padding: 12px 0 0 41px;
    margin-top: 229px;

}
.basket_under_header_line>p {
    font-size: 20px;
}
.basket_under_header_line>p>svg {
    margin: 0 5.5px 0 7px;
}
.basket_item {
    margin-top: 26px;
    border: 1.5px solid #D9D9D9;
    border-radius: 20px;
    background: #FEFDFD;
    padding: 32px 0 27px 0;
    position: relative;
}
.basket_item>figure {
    width: 17%;
    margin-right: 6%;
}
.basket_item>figure>img {
    width: 100%;
}
.basket_item_text {
    margin-right: 8%;
    vertical-align: middle;
    max-width: 222px;
}
.basket_item_text>p {
    font-size: 18px; 
    font-weight: 500;
}
.basket_item>div, .basket_item>figure, .basket_item>.basket_item_text {
    display: inline-block;
}
.basket_item>div>button {
    border-radius: 50%;
    border: 3px solid #D9D9D9;
    padding: 10px 10px;
    background-color: #fff;
    outline: none;
}
.basket_item>div>button>svg {
    width: 25px;
}
.basket_item>.close_grey>img {
    width: 49px;
    height: 49px;
}
.basket_item>.close_grey {
    position: absolute;
    top: 4px;
    right: 9.7px;
    width: 49px;
    height: 49px;
    cursor: pointer;
}
.basket_number_goods{
    margin: 82px 0 0 45%; 
    max-width: 625px;
}
.basket_number_goods>p {
    font-size: 20px;
}
.basket_sum_goods>p {
    font-size: 28px;
    color: #000;
    font-weight: 700;
}
.basket_sum_goods {
    margin: 32px 0 0 45%; 
    max-width: 625px;
}
.basket_buttons {
    margin: 48px 0 0 45%; 
    max-width: 625px;
}
.basket_buttons>a:nth-child(1) {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid #5B5A5A;
    background: #F5F5F5;
    padding: 10px 26px;
    cursor: pointer;
    text-decoration: none;
}
.basket_buttons>a:nth-child(2) {
    color: #FEFEFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid #5B5A5A;
    background: #E31E24;
    padding: 10px 26px;
    cursor: pointer;
    text-decoration: none;
}
.minusOne:hover, .plusOne:hover, .close_grey:hover {
    cursor: pointer;
    opacity: 0.5;
}
.basket_buttons>a:hover {
    cursor: pointer;
    opacity: 0.5;
}
.basket_under_header_line>p>a {
    color: #fff;
}
.basket_under_header_line>p>a:hover {
    opacity: 0.5;
}
/*order.html*/
.user_info_order {
    max-width: 640px;
    margin-top: 22px;
}
.user_info_order>div>div>p {
    color: #E31E24;
    text-align: center;
    width: 300px;
}
.user_info_order>p:nth-child(1) {
    color: #202B46;
    font-size: 20px;
}
.user_info_order>div>div>input {
    width: 300px;
    padding: 12px 30px;
    border-radius: 20px;
    border: 1px solid #AEABAB;
    color: #AEABAB;
    outline: none;
}
.method_of_delivery {
    max-width: 292px;
}
.method_of_delivery>p {
    color: #202B46;
    font-size: 20px;
}
.radio {
    position: relative;
    margin-bottom: 16px;
}
.radio_input {
    appearance: none;
    position: absolute;
}
.radio_label {
    padding-left: 64px;
    color: #202B46;
    font-size: 18px;
    cursor: pointer;
    padding-top: 6px;
}
.radio_label:before {
    content: "";
    display: block;
    width: 43px;
    height: 43px;
    border: 1.5px solid #D9D9D9;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition:  border .1s linear;
}
.radio_label:after {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background-color: #202B46;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
    opacity: 0;
    transition: opacity .3s linear;
}
.radio_input:checked + .radio_label:after {

    opacity: 1;
}
.payment-method {
    margin-top: 54px;
}
.payment-method>p {
    color: #202B46;
    font-size: 20px;
}
.add_card {
    max-width: 369px;
}
.add_card>p {
   color: #E31E24; 
   text-align: center;
}
.add_card>input {
    width: 100%;
    padding: 12px 30px;
    border-radius: 20px;
    border: 1px solid #AEABAB;
    outline: none;
}
.add_card>div>div>input {
    padding: 12px 30px;
    border-radius: 20px;
    border: 1px solid #AEABAB;
    outline: none;
}
.add_card>button {
    padding: 12px 42px 13px 43px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #D9D9D9;
    font-size: 18px;
    color: #202B46;
    border: none;
    outline: none;
}
.order_confirm {
    padding: 14px 32px 15px 33px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #E31E24;
    font-size: 30px;
    color: #FFF;
    font-weight: 500;
    border: none;
    outline: none;
    margin-top: 74px;
}
.order_confirm:hover {
    opacity: 0.5;
    
}
.info_after_buy {
    width: 500px;
    height: 350px;
    background-color: #d8d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 150px;
    padding: 30px;
    border-radius: 25px;
    visibility: hidden;
    z-index: 5;

}
.info_after_buy>img {
    width: 139px;
    border-radius: 25px;
    background-color: #298b29;
    padding: 15px;
}
.info_after_buy>p {
    text-align: center;
    color: #298b29;
    font-size: 24px;
    font-weight: 700;
}
.info_after_buy>a {
    width: 175px;
    background-color: #329e71;
    color: white;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}
.info_after_buy>a:hover {
    opacity: 0.5;
}
/*catalog.html*/
.catalog_aside {
    padding-top: 158px;
}
.catalog_aside>h1 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
}
.catalog_main>ul>li>a {
    color: #000;
    font-size: 24px;
}
.active {
    border-bottom: 2px solid #000;
}
.catalog_main {
    padding-top: 41px;
}
.parafin>h2 {
    color: #202B46;
    font-size: 24px;
    font-weight: 600;
}
.tomato_paste>h2 {
    color: #202B46;
    font-size: 24px;
    font-weight: 600;
}
.catalog_sort_button_groups {
    width: 450px;
}
.catalog_sort_button_groups>button {
    border-radius: 20px;
    border: 1px solid #AEABAB;
    color: #AEABAB;
    font-size: 18px;
    padding: 8px 30px;
    background: #fff;
}
.grid_body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.grid_item {
    margin: 20px;
}
@media (width > 1280px) {
    .grid_body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.card-paraffin>a:hover {
    text-decoration: none;
}

/*card_parafin.html*/
.short_info_card_parafin {
    width: 380px;
    margin-left: 120px;
    
}
.star_and_reviews {
    margin-top: 50px;
}
.star_and_reviews>p {
    margin-left: 27px;
}
#buy {
    border-radius: 20px;
    background: #E31E24;
    font-size: 24px;
    font-weight: 800;
    color: #FFF;
    text-align: center;
    width: 221px;
    height: 74px;
    border: 20px solid #E31E24;
}
.icon_liked_card {
    width: 74px;
    height: 74px;
    margin: 0 0 0 65px;
}
thead>tr {
    color: #5B5A5A;
    font-size: 20px;
    font-weight: 500;
    height: 65px;
}
tbody>tr {
    color: #5B5A5A;
    font-size: 16px;
}
table {
    width: 35%;
}
#buy:hover {
    opacity: 0.5;
}
/*about_us.html*/
.main_about_us {
    height: 65%;
}
.main_about_us>h2 {
    font-size: 32px;
    text-align: center;
}

.main_about_us>p {
    font-size: 28px;
    text-align: center;
}
/*contacts.html*/
.main_contacts {
    padding: 50px;
}
.main_contacts>div {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.main_contacts>div>p {
    font-size: 24px;
}
.main_contacts>iframe {
    border-radius: 25px;
}
.divDot {
    visibility: hidden;
}





@media (max-width: 360px) {
    .basket_under_header_line>p {
        font-size: 8px;
    }
}
/*Сховали*/
.header_icons_like_list {
    visibility: hidden;
}
.icon_dont_like_card {
    visibility: hidden;
}
.icon_liked_card {
    visibility: hidden;
}